In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('final_data.csv')

df.head()

,num,name,cleaned_text
0,9263968,Bling Empire S03 E02 Gossip Guy (2022),advertise product brand contact www opensubtit...
1,9441329,The Low Tone Club (2022),okay four star form part new generation los ag...
2,9451132,De Verraders S01 E05 Episode 1 5 (2022),castle invite 18 famous flemish people blood c...
3,9463476,Legend Of The Seeker S02 E06 Fury (2009),richard cypher true seeker see deer change dir...
4,9469678,Fringe S01 E09 The Dreamscape (2008),previously fringe call events pattern someone ...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24749 entries, 0 to 24748
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num           24749 non-null  int64
 1   name          24749 non-null  object
 2   cleaned_text  24748 non-null  object
dtypes: int64(1), object(2)
memory usage: 580.2+ KB

In [4]:
df.dropna(axis= 0, inplace= True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24748 entries, 0 to 24748
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num           24748 non-null  int64
 1   name          24748 non-null  object
 2   cleaned_text  24748 non-null  object
dtypes: int64(1), object(2)
memory usage: 773.4+ KB

In [5]:
df = df.sample(frac= 0.25)

In [6]:
def chunk_document(corpous, id_col, chunk_size=300):
    
    data = []
    
    for doc,id  in zip(corpous, id_col):
        words = doc.split()
        
        for i in range(0, len(words), chunk_size):
            chunk = ' '.join(words[i:i + chunk_size])
            data.append((id,chunk))
            
    df = pd.DataFrame(data)

    return df

In [7]:
chuncked_df = chunk_document(df['cleaned_text'],df['num'])

In [8]:
chuncked_df.head()

         0                                                  1
0  9440550  advertise product brand contact www opensubtit...
1  9440550  man say take location turn classy bar yeah kno...
2  9440550  old woman also like course older woman still w...
3  9440550  baby things come naturally wow lettuce aunt li...
4  9440550  house collateral house barely call nice woman ...

In [9]:
chuncked_df.columns =['num','chunks_text']

chuncked_df.head()

       num                                        chunks_text
0  9440550  advertise product brand contact www opensubtit...
1  9440550  man say take location turn classy bar yeah kno...
2  9440550  old woman also like course older woman still w...
3  9440550  baby things come naturally wow lettuce aunt li...
4  9440550  house collateral house barely call nice woman ...

In [10]:
chuncked_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77629 entries, 0 to 77628
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   num          77629 non-null  int64
 1   chunks_text  77629 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

In [11]:
merged_df = chuncked_df.merge(df, left_on= "num", right_on= "num", how= "left")

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77629 entries, 0 to 77628
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   num           77629 non-null  int64
 1   chunks_text   77629 non-null  object
 2   name          77629 non-null  object
 3   cleaned_text  77629 non-null  object
dtypes: int64(1), object(3)
memory usage: 3.0+ MB

In [12]:
data = merged_df[['num','name','chunks_text']]

data.head()

,num,name,chunks_text
0,9440550,Go Mrs Go S01 E29 Episode 1 29 (2012),advertise product brand contact www opensubtit...
1,9440550,Go Mrs Go S01 E29 Episode 1 29 (2012),man say take location turn classy bar yeah kno...
2,9440550,Go Mrs Go S01 E29 Episode 1 29 (2012),old woman also like course older woman still w...
3,9440550,Go Mrs Go S01 E29 Episode 1 29 (2012),baby things come naturally wow lettuce aunt li...
4,9440550,Go Mrs Go S01 E29 Episode 1 29 (2012),house collateral house barely call nice woman ...

In [13]:
from sentence_transformers import SentenceTransformer, util

model = SentenceTransformer('paraphrase-MiniLM-L3-v2')

In [14]:
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
import chromadb

import pandas as pd
from tqdm import tqdm

In [15]:
tqdm.pandas()
data['text_vector_bert'] = data['chunks_text'].progress_apply(model.encode)

data.head()

  1%|▋                                                                          | 674/77629 [29:31<56:11:40,  2.63s/it]

KeyboardInterrupt

In [ ]:
data.to_json('bert_vectors_data.json')